<div fxLayout="column" fxLayoutAlign="center center" fxFlex="100%" [style.height]="'100vh'">
    <mat-toolbar fxLayout="row" fxLayoutAlign="center center" color="primary" [style.margin-top]="'80px'">Busque seu Pokemon
    </mat-toolbar>
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="100%">
        <mat-form-field [style.width]="'100%'" class="search">
            <mat-label>Insira o nome do Pokemon</mat-label>
            <input matInput>
        </mat-form-field>
        <div fxLayout="row" fxFlex="80%" fxLayoutGap="10%">
            
        </div>
    </div>
    
</div>