.example-card {
    max-width: 240px;
    min-width: 240px;
    min-height: 430px;
    height: 450px;
    margin-bottom: 20px;
    margin-right: 20px;
    cursor: pointer;
    .truncate {
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media only screen and (max-width: 600px) {
    .example-card {
        margin-right: 60px;
    }
}