<div fxLayout="column" fxLayoutAlign="center center" fxFlex="100%">
    <mat-toolbar fxLayout="row" fxLayoutAlign="center center" color="primary" [style.margin-top]="'80px'">
        Sobre o Desenvolvedor
    </mat-toolbar>
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="100%">

        <div fxLayoutAlign="center center" fxLayout="row">
            <p fxFlex="80%" fxLayoutGap="10%">
                Comecei a trabalhar com tecnologia em agosto de 1997, neste ano atuei como programador Delphi no Comando
                da Aeronáutica. Eu era soldado no Parque de Material Aeronáutico dos Afonsos (PAMA-AF) no estado do Rio
                de Janeiro. Esse sistema era responsável pelo controle das férias dos militares alocados na unidade. Em
                1999 eu fui responsável pelo desenvolvimento do site da OM. O mesmo foi desenvolvido utilizando HTML e
                CSS.<br><br>

                De 2000 à 2005 eu atuei como auxiliar administrativo e recepcionista hospitalar. No ano de 2005 concluí
                a formação webdesigner no INFNET e comecei a atuar como webdesigner freelancer. Em 2006 a veia
                empreendedora falou mais forte e junto com uma amiga que é Designer resolvemos fundar a A-tribo 2P
                Comunicação. Desenvolvemos vários projetos, a grande maioria se tratava de sites institucionais que eram
                desenvolvidos utilizando HTML, CSS, Jquery e PHP. Porém, em 2008 fomos atingidos pela crise, que
                ocasionou na perda de um contrato que era de extrema importância para as finanças da empresa e acabamos
                encerrando nossas atividades.<br><br>

                Em setembro de 2008 fui contratado para ser Webdesigner na DPI Marketing e Bureau. Uma agência voltada
                para o segmento de moda. Foram desenvolvidos mais de 50 sites no período de 3 anos. Grande maioria
                desses sites foram desenvolvidos utilizando Flash e Actionscript para realizar animações para exibição
                das galerias de imagens. Também foram desenvolvidos outros projetos utilizando o CMS Wordpress. Durante
                esse período eu concluí o bacharelado em Ciência da Computação pela Faculdade Estácio de Sá(Dez/2010).
                Em setembro de 2011 eu resolvi voltar a atuar como freelancer e solicitei meu desligamento.<br><br>

                Em fevereiro de 2012 eu voltei ao mercado como Webdesigner no Grupo Andrade Magro, uma holding do setor
                de petróleo e seus derivados. Durante a minha estadia eu reformulei toda identidade visual do Grupo na
                internet. Foram desenvolvidos sites institucionais(4 no total), um sistema de fórum voltado para os
                investidores e a intranet da empresa. Essas features foram desenvolvidas utilizando HTML, CSS, Jquery e
                PHP. Fui desligado em dezembro do mesmo ano após o fechamento da sua sede no estado do RJ.<br><br>

                De dezembro de 2012 a fevereiro de 2014 atuei como freelancer. Em fevereiro de 2014 fui contratado para
                atuar no Consórcio Interagir no BNDES. Atuei como Desenvolvedor de Portal utilizando a ferramenta
                Connections da IBM. Nesse período foi desenvolvida a versão mobile da intranet dos funcionários do
                BNDES. Em novembro fui desligado já que havia decidido me mudar para o interior do estado do RJ.<br><br>

                Após a mudança que aconteceu no final do mês de janeiro de 2015 eu iniciei a Agência Onda Forte e voltei
                a empreender por conta própria. Acabei conhecendo o Angular através da lista de downloads do Chrome,
                pesquisei sobre o framework e fiquei muito empolgado com seus recursos e decidi acompanhar a sua
                evolução. Em 2016 desenvolvi meu primeiro projeto AngularJS, desenvolvi uma plataforma de gerenciamento
                de tarefas e alertas voltados para funcionários das prefeituras cadastradas. A partir do lançamento do
                Angular2+ eu comecei a atuar também com a Firebase. Desenvolvi sites institucionais, Blogs, E-commerces
                e Sistemas nesse período. Devido às necessidades de alguns projetos eu acabei começando a me interessar
                pela camada NODEJS da GCloud(Functions). Em 2017 eu desenvolvi meu primeiro PWA que está hospedado na
                URL <a href="https://www.agenciaondaforte.com.br" target="_blank" title="Agência Onda Forte">www.agenciaondaforte.com.br</a>.<br><br>

                Em junho de 2017 eu fui contratado pelo Reclame Aqui para atuar no site do Prêmio RA e no seu principal
                produto que é o site www.reclameaqui.com.br. Esse legado estava em AngularJS. A partir de março de 2018
                foi iniciada a Nova Home do RA, que foi desenvolvida utilizando o Vue.JS com uma pegada de rede social.
                Atuei nessa frente até sua entrega (outubro de 2019). Após a entrega o meu contrato foi rescindido e
                voltei a atuar como freelancer.<br><br>

                Desde então eu venho atuando como freelancer e tenho prestado serviço para diversas empresas, SMR
                Automotive(foram desenvolvidos 4 sistemas de organização de processos internos), Focco ERP(Site de
                Portfólio) e diversos sites institucionais utilizando Angular + Firebase + Functions. No mês passado
                iniciei como Front End na Tracknme criando novas features e mantendo seu ERP em funcionamento.
            </p>
        </div>
    </div>
</div>