<h2 mat-dialog-title>{{card.name}}</h2>
<mat-dialog-content class="mat-typography">
    <mat-list role="list">
        <mat-list-item role="listitem">
            <b>Nome do Ataque: </b> <span [style.margin-left]="'5px'"> {{card.attacks[0].name}}</span>
        </mat-list-item>
        <mat-list-item role="listitem">
            <b>Custo de Mana: </b> <span [style.margin-left]="'5px'"> {{card.attacks[0].convertedEnergyCost}}</span>
        </mat-list-item>
        <mat-list-item role="listitem">
            <b>Dano: </b> <span [style.margin-left]="'5px'"> {{card.attacks[0].damage}}</span>
        </mat-list-item>
        <mat-list-item role="listitem">
            <p [style.margin-top]="'10px'"><b>Descrição: </b> {{card.attacks[0].text}}</p>
        </mat-list-item>
    </mat-list>
</mat-dialog-content>
<mat-dialog-actions [style.float]="'right'">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>OK</button>
</mat-dialog-actions>