<div fxLayout="column" fxLayoutAlign="center center" fxFlex="100%" *ngIf="card">
    <mat-toolbar fxLayout="row" fxLayoutAlign="center center" color="primary" [style.margin-top]="'80px'">
        Nome do Pokemon
    </mat-toolbar>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxFlex="100%" fxFlexFill>

        <div fxLayoutAlign="center center" fxFlex="100%" fxFlexFill>
            <mat-card class="mat-elevation-z8" [style.margin-top]="'10px'" [style.cursor]="'pointer'" (click)="openImage()">
                <img [style.max-height]="'400px'" [style.margin]="'0 auto'" src="https://images.pokemontcg.io/base5/20_hires.png" alt="Pokemon">
            </mat-card>
        </div>
        <div fxFlex="100%" fxFlexFill>
            <mat-list [style.margin-top]="'30px'">
                <mat-list-item>
                    <b>Nome: </b> <span [style.margin-left]="'5px'"> {{card.name}} </span>
                </mat-list-item>
                <mat-list-item>
                    <b>ID Pokemon: </b> <span [style.margin-left]="'5px'"> Teste</span>
                </mat-list-item>
                <mat-list-item>
                    <b>Tipos: </b> <span [style.margin-left]="'5px'"> Teste</span>
                </mat-list-item>
                <mat-list-item>
                    <b>Resistências: </b> <span [style.margin-left]="'5px'"> Teste</span>
                </mat-list-item>
                <mat-list-item>
                    <b>Fraquezas: </b> <span [style.margin-left]="'5px'"> Teste</span>
                </mat-list-item>
                <mat-list-item>
                    <b>Ataques: </b> 
                    <button [style.margin-left]="'10px'" mat-raised-button (click)="openAtacks()">Ataque 01</button>
                    <button [style.margin-left]="'10px'" mat-raised-button (click)="openAtacks()">Ataque 02</button>
                    <button [style.margin-left]="'10px'" mat-raised-button (click)="openAtacks()">Ataque 03</button>
                </mat-list-item>
              </mat-list>
        </div>
    </div>
</div>
